@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!!</h1>
    <p>Learn about how this wonderful Ticketing System works by navigating at the top.</p>
</div>
